<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net47" />
  <package id="Autofac.Configuration" version="3.3.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net47" />
  <package id="NUnit" version="3.9.0" targetFramework="net47" />
  <package id="NUnit3TestAdapter" version="3.9.0" targetFramework="net47" />
  <package id="Selenium.Support" version="3.6.0" targetFramework="net47" />
  <package id="Selenium.WebDriver" version="3.8.0" targetFramework="net47" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.34.0" targetFramework="net47" />
  <package id="Selenium.WebDriver.IEDriver" version="3.7.0" targetFramework="net47" />
  <package id="SpecFlow" version="2.2.1" targetFramework="net47" />
  <package id="Unickq.SpecFlow.Selenium" version="1.2.0" targetFramework="net47" />
</packages>